
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>SimpleLogin</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/signin.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/0a8d489327.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
    <script src="https://www.vantajs.com/dist/vanta.waves.min.js"></script>
    <link href="~/css/animate.css" rel="stylesheet" />

</head>

<body id="vanta" style="font-family: 'Work Sans', sans-serif;">

    <script>

    var toggle = false;

    function switchSignUp() {

        if (!toggle) {
            $.ajax({
                url: '@Url.Action("SwitchToSignup", "Home")',
                success: function (data) {
                    $('#partialview_contents').html(data);
                    toggle = true;
                    document.getElementById("switchpagebutton").value = "Log in";
             
                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("SwitchToLogin", "Home")',
                success: function (data) {
                    $('#partialview_contents').html(data);
                    toggle = false;
                    document.getElementById("switchpagebutton").value = "Sign up";
                }
            });
        }

    }

    </script>

    <div class="col" style="margin-left: auto; margin-right: auto; text-align: center;">
        <div class="row" id="partialview_contents" style="margin-left: auto; margin-right: auto; text-align: center;">
            <!-- PARTIAL VIEW CONTENTS HERE -->
            <div class="col-lg-11 animated fadeInDown" style="background-color: rgba(255, 255, 255, 1); width: 30vw; border-radius: 10px;">

                <form class="form-signin">
                    <img style="margin-bottom: 3vh; margin-top: 3vh;" class="mb-4" src="~/images/user.png" alt="" width="92" height="92">
                    <p style="margin-bottom: 3vh; font-size: 28pt;">Login</p>

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input style="margin-top: 2vh;" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <button style="margin-top: 2vh;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>


                    <a class="btn btn-block btn-social btn-google">
                        <p><span class="fab fa-google"></span>   Sign in with Google</p>
                    </a>

                    <p style="margin-top: 5vh;" class="mt-5 mb-3 text-muted">&copy; Griffin Puc 2019</p>
                </form>
            </div>
        </div>
         
        <div id="bottom-container" class="row animated pulse" style="margin-left: auto; margin-right: auto; text-align: center; margin-top: 2vh;">
            <div class="col-lg-11 animated fadeInDown" style="background-color: rgba(255, 255, 255, 1); width: 30vw; border-radius: 10px;">
                <p style="margin-top: 1vh;">Don't have an account?<span><button style="margin-left: 1vw;" id="switchpagebutton" class="btn btn-toolbar btn-sm" onclick="switchSignUp()">Sign up</button></span></p>
            </div>
        </div>
    </div>

</body>

<script>
    VANTA.WAVES({
        el: "#vanta",
        color: 0x314abb,
        shininess: 78.00,
        waveHeight: 22.50,
        waveSpeed: 1.35,
        zoom: 0.85
    })
</script>

</html>


